Flask
Flask-Cors
Flask-MySQLdb
google-cloud-storage
gunicorn
keras
Keras-Preprocessing
librosa
matplotlib
mysqlclient
numpy
oauthlib
opencv-python
Pillow
PyJWT
python-dotenv
protobuf
requests
scikit-learn
scipy
tensorflow
urllib3
Werkzeug
wrapt
